# clean up the columns
what columns do we need to keep
(figure out what questions we will want to answer)

clean then dump into a sql database


columns with Nans are not useful and we should take them out


after we clean up data and put in database - move on to JS

In [1]:
import pandas as pd
import numpy as np

In [2]:
mega_data = pd.read_csv("final_mega_df.csv")
mega_data.head(25)

/Users/Bons/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (85,86,87,89,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,loan_amnt,funded_amnt,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,hardship_reason,hardship_status,hardship_amount,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status
0,0,6000.0,6000.0,7.24%,185.93,A,Program Manager,3 years,RENT,125000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1,1,17000.0,17000.0,7.49%,528.73,A,Air Traffic Controller,10+ years,MORTGAGE,120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
2,2,14000.0,14000.0,12.74%,316.69,C,Relocation Specialist,9 years,RENT,49960.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
3,3,9900.0,9900.0,5.32%,298.14,A,Radtech,10+ years,MORTGAGE,53000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
4,4,15400.0,15400.0,11.39%,337.84,B,Social worker,10+ years,MORTGAGE,95000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
5,5,16000.0,16000.0,12.74%,361.93,C,claims analyst,10+ years,MORTGAGE,130000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
6,6,11875.0,11875.0,11.44%,391.26,B,Shop foreman,10+ years,MORTGAGE,55000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
7,7,3025.0,3025.0,6.99%,93.39,A,Recruiter,10+ years,MORTGAGE,83000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
8,8,9000.0,9000.0,11.39%,296.32,B,SUPERINTENDANT,10+ years,MORTGAGE,60000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
9,9,12000.0,12000.0,6.99%,370.48,A,signmaker/waterjet,10+ years,MORTGAGE,56000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
10,10,5000.0,5000.0,25.49%,200.10,E,Pilot,10+ years,MORTGAGE,215000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
11,11,10000.0,10000.0,7.49%,311.02,A,Line worker,3 years,RENT,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
12,12,4800.0,4800.0,6.99%,148.19,A,Program Manager,1 year,RENT,160000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
13,13,16000.0,16000.0,18.99%,586.42,D,sales merchandiser,10+ years,RENT,41000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
14,14,2000.0,2000.0,16.99%,71.30,D,Supervisor,6 years,MORTGAGE,62000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
15,15,20000.0,20000.0,5.32%,602.30,A,Associate Dentist,3 years,RENT,120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
16,16,16000.0,16000.0,12.74%,361.93,C,NaN,10+ years,MORTGAGE,72000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
17,17,13000.0,13000.0,11.44%,428.32,B,Accounts Payable Coordinator,10+ years,RENT,54500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
18,18,10000.0,10000.0,11.49%,329.72,B,General manager,10+ years,OWN,145000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
19,19,14000.0,14000.0,15.99%,492.13,C,Project Leader,10+ years,MORTGAGE,82000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
20,20,35000.0,35000.0,19.99%,1300.55,D,PROFESSOR,10+ years,MORTGAGE,80000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
21,21,14000.0,14000.0,12.74%,316.69,C,Specialty Sales,4 years,OWN,40000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
22,22,7100.0,7100.0,11.39%,233.76,B,NaN,NaN,RENT,32160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
23,23,6800.0,6800.0,13.49%,230.73,C,Mechanic,< 1 year,RENT,55000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
24,24,14400.0,14400.0,10.49%,467.97,B,Property Manager,6 years,MORTGAGE,130000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN

In [3]:
mega_df = pd.DataFrame(mega_data)
mega_df

,ID,loan_amnt,funded_amnt,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,hardship_reason,hardship_status,hardship_amount,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status
0,0,6000.0,6000.0,7.24%,185.93,A,Program Manager,3 years,RENT,125000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1,1,17000.0,17000.0,7.49%,528.73,A,Air Traffic Controller,10+ years,MORTGAGE,120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
2,2,14000.0,14000.0,12.74%,316.69,C,Relocation Specialist,9 years,RENT,49960.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
3,3,9900.0,9900.0,5.32%,298.14,A,Radtech,10+ years,MORTGAGE,53000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
4,4,15400.0,15400.0,11.39%,337.84,B,Social worker,10+ years,MORTGAGE,95000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456923,105446,24000.0,24000.0,23.99%,690.30,E,Senior Escrow Officer,< 1 year,RENT,107000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456924,105447,10000.0,10000.0,7.99%,313.32,A,Rn,10+ years,MORTGAGE,65000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456925,105448,10050.0,10050.0,16.99%,358.26,D,Sales Associate,8 years,RENT,37000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456926,105449,6000.0,6000.0,11.44%,197.69,B,Contact input,5 years,RENT,41000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456927,105450,30000.0,30000.0,25.49%,889.18,E,Assistant Manager,4 years,MORTGAGE,105700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN

In [4]:
mega_data.columns

Index(['ID', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'issue_d',
       'loan_status', 'desc', 'purpose', 'title', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'total_pymnt', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'max_bal_bc', 'total_rev_hi_lim', 'inq_fi', 'inq_last_12m',
       'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths',
       'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op',
       'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc',
       'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_30dpd',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit',
       'revol_bal_joint', 'sec_app_revol_util', 'hardship_flag',
       'hardship_type', 'hardship_reason', 'hardship_status',
       'hardship_amount', 'hardship_loan_status',
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status'],
      dtype='object')

In [5]:
bonnie_data = mega_df[['ID', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'issue_d',
       'loan_status', 'title', 'addr_state','dti',
        'earliest_cr_line', 'fico_range_low', 'fico_range_high',
       'open_acc','pub_rec_bankruptcies']]
bonnie_data.head(25)

,ID,loan_amnt,funded_amnt,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,loan_status,title,addr_state,dti,earliest_cr_line,fico_range_low,fico_range_high,open_acc,pub_rec_bankruptcies
0,0,6000.0,6000.0,7.24%,185.93,A,Program Manager,3 years,RENT,125000.0,Mar-17,Fully Paid,Credit card refinancing,WA,9.25,Jul-04,690.0,694.0,16.0,0.0
1,1,17000.0,17000.0,7.49%,528.73,A,Air Traffic Controller,10+ years,MORTGAGE,120000.0,Mar-17,Fully Paid,Debt consolidation,UT,8.41,Oct-05,735.0,739.0,9.0,1.0
2,2,14000.0,14000.0,12.74%,316.69,C,Relocation Specialist,9 years,RENT,49960.0,Mar-17,Charged Off,Debt consolidation,WA,9.30,May-90,715.0,719.0,8.0,1.0
3,3,9900.0,9900.0,5.32%,298.14,A,Radtech,10+ years,MORTGAGE,53000.0,Mar-17,Fully Paid,Debt consolidation,GA,19.47,Apr-06,730.0,734.0,10.0,0.0
4,4,15400.0,15400.0,11.39%,337.84,B,Social worker,10+ years,MORTGAGE,95000.0,Mar-17,Fully Paid,Debt consolidation,CT,11.52,Dec-98,730.0,734.0,20.0,0.0
5,5,16000.0,16000.0,12.74%,361.93,C,claims analyst,10+ years,MORTGAGE,130000.0,Mar-17,Fully Paid,Debt consolidation,SD,8.28,Jul-95,680.0,684.0,16.0,1.0
6,6,11875.0,11875.0,11.44%,391.26,B,Shop foreman,10+ years,MORTGAGE,55000.0,Mar-17,Current,Home improvement,MI,34.50,Apr-97,730.0,734.0,14.0,0.0
7,7,3025.0,3025.0,6.99%,93.39,A,Recruiter,10+ years,MORTGAGE,83000.0,Mar-17,Current,Vacation,GA,20.76,Oct-94,695.0,699.0,13.0,0.0
8,8,9000.0,9000.0,11.39%,296.32,B,SUPERINTENDANT,10+ years,MORTGAGE,60000.0,Mar-17,Fully Paid,Medical expenses,TX,19.58,Apr-00,780.0,784.0,13.0,0.0
9,9,12000.0,12000.0,6.99%,370.48,A,signmaker/waterjet,10+ years,MORTGAGE,56000.0,Mar-17,Fully Paid,Home improvement,AZ,17.90,Aug-95,775.0,779.0,13.0,0.0
10,10,5000.0,5000.0,25.49%,200.10,E,Pilot,10+ years,MORTGAGE,215000.0,Mar-17,Current,Debt consolidation,CT,6.06,Jan-04,765.0,769.0,11.0,0.0
11,11,10000.0,10000.0,7.49%,311.02,A,Line worker,3 years,RENT,50000.0,Mar-17,Fully Paid,Debt consolidation,PA,26.43,Aug-09,755.0,759.0,13.0,0.0
12,12,4800.0,4800.0,6.99%,148.19,A,Program Manager,1 year,RENT,160000.0,Mar-17,Fully Paid,Credit card refinancing,CA,12.66,Jun-05,745.0,749.0,13.0,0.0
13,13,16000.0,16000.0,18.99%,586.42,D,sales merchandiser,10+ years,RENT,41000.0,Mar-17,Current,Debt consolidation,TX,31.73,Sep-04,660.0,664.0,9.0,0.0
14,14,2000.0,2000.0,16.99%,71.30,D,Supervisor,6 years,MORTGAGE,62000.0,Mar-17,Fully Paid,Credit card refinancing,WA,16.43,Oct-07,680.0,684.0,10.0,2.0
15,15,20000.0,20000.0,5.32%,602.30,A,Associate Dentist,3 years,RENT,120000.0,Mar-17,Current,Credit card refinancing,CA,26.54,Aug-02,770.0,774.0,18.0,0.0
16,16,16000.0,16000.0,12.74%,361.93,C,NaN,10+ years,MORTGAGE,72000.0,Mar-17,Current,Major purchase,MD,29.66,Dec-98,685.0,689.0,18.0,0.0
17,17,13000.0,13000.0,11.44%,428.32,B,Accounts Payable Coordinator,10+ years,RENT,54500.0,Mar-17,Current,Debt consolidation,IL,10.81,Sep-02,740.0,744.0,11.0,0.0
18,18,10000.0,10000.0,11.49%,329.72,B,General manager,10+ years,OWN,145000.0,Mar-17,Fully Paid,Debt consolidation,NJ,13.31,Sep-05,705.0,709.0,13.0,0.0
19,19,14000.0,14000.0,15.99%,492.13,C,Project Leader,10+ years,MORTGAGE,82000.0,Mar-17,Fully Paid,Credit card refinancing,KS,31.07,May-96,725.0,729.0,18.0,0.0
20,20,35000.0,35000.0,19.99%,1300.55,D,PROFESSOR,10+ years,MORTGAGE,80000.0,Mar-17,Current,Debt consolidation,AZ,10.65,May-94,665.0,669.0,7.0,0.0
21,21,14000.0,14000.0,12.74%,316.69,C,Specialty Sales,4 years,OWN,40000.0,Mar-17,Current,Credit card refinancing,CA,17.48,Feb-74,715.0,719.0,10.0,0.0
22,22,7100.0,7100.0,11.39%,233.76,B,NaN,NaN,RENT,32160.0,Mar-17,Fully Paid,Debt consolidation,FL,22.44,Apr-73,710.0,714.0,9.0,0.0
23,23,6800.0,6800.0,13.49%,230.73,C,Mechanic,< 1 year,RENT,55000.0,Mar-17,Current,Credit card refinancing,CA,20.73,Dec-06,730.0,734.0,9.0,0.0
24,24,14400.0,14400.0,10.49%,467.97,B,Property Manager,6 years,MORTGAGE,130000.0,Mar-17,Charged Off,Vacation,CA,30.77,Dec-97,745.0,749.0,22.0,0.0

In [6]:
# Total number of loans per state
total_state_loans = bonnie_data.groupby('addr_state').count()
total_state_loans

,ID,loan_amnt,funded_amnt,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,loan_status,title,dti,earliest_cr_line,fico_range_low,fico_range_high,open_acc,pub_rec_bankruptcies
addr_state,,,,,,,,,,,,,,,,,,,
AK,3124,3124,3124,3124,3124,3124,2833,2916,3124,3124,3124,3124,3124,3115,3124,3124,3124,3124,3124
AL,16552,16552,16552,16552,16552,16552,14428,14791,16552,16552,16552,16552,16552,16520,16552,16552,16552,16552,16552
AR,11162,11162,11162,11162,11162,11162,9582,9867,11162,11162,11162,11162,11162,11126,11162,11162,11162,11162,11162
AZ,35697,35697,35697,35697,35697,35697,30945,32060,35697,35697,35697,35697,35697,35593,35697,35697,35697,35697,35697
CA,197298,197298,197298,197298,197298,197298,175400,182915,197298,197298,197298,197298,197298,196918,197298,197298,197298,197298,197298
CO,30995,30995,30995,30995,30995,30995,27945,29009,30995,30995,30995,30995,30995,30916,30995,30995,30995,30995,30995
CT,23941,23941,23941,23941,23941,23941,21591,22297,23941,23941,23941,23941,23941,23917,23941,23941,23941,23941,23941
DC,3002,3002,3002,3002,3002,3002,2781,2852,3002,3002,3002,3002,3002,3002,3002,3002,3002,3002,3002
DE,4198,4198,4198,4198,4198,4198,3675,3802,4198,4198,4198,4198,4198,4192,4198,4198,4198,4198,4198
FL,108787,108787,108787,108787,108787,108787,93322,97578,108787,108787,108787,108787,108787,108632,108787,108787,108787,108787,108787
GA,48059,48059,48059,48059,48059,48059,42410,43914,48059,48059,48059,48059,48059,47976,48059,48059,48059,48059,48059
HI,6304,6304,6304,6304,6304,6304,5717,5928,6304,6304,6304,6304,6304,6295,6304,6304,6304,6304,6304
ID,4975,4975,4975,4975,4975,4975,4222,4416,4975,4975,4975,4975,4975,4954,4975,4975,4975,4975,4975
IL,58296,58296,58296,58296,58296,58296,52430,53982,58296,58296,58296,58296,58296,58204,58296,58296,58296,58296,58296
IN,24761,24761,24761,24761,24761,24761,22081,22643,24761,24761,24761,24761,24761,24704,24761,24761,24761,24761,24761
KS,11840,11840,11840,11840,11840,11840,10590,10933,11840,11840,11840,11840,11840,11808,11840,11840,11840,11840,11840
KY,14146,14146,14146,14146,14146,14146,12365,12701,14146,14146,14146,14146,14146,14115,14146,14146,14146,14146,14146
LA,15654,15654,15654,15654,15654,15654,13884,14362,15654,15654,15654,15654,15654,15617,15654,15654,15654,15654,15654
MA,33556,33556,33556,33556,33556,33556,30340,31359,33556,33556,33556,33556,33556,33519,33556,33556,33556,33556,33556
MD,35146,35146,35146,35146,35146,35146,31811,32616,35146,35146,35146,35146,35146,35109,35146,35146,35146,35146,35146
ME,4807,4807,4807,4807,4807,4807,4199,4349,4807,4807,4807,4807,4807,4802,4807,4807,4807,4807,4807
MI,37117,37117,37117,37117,37117,37117,32045,32988,37117,37117,37117,37117,37117,37071,37117,37117,37117,37117,37117
MN,24404,24404,24404,24404,24404,24404,22393,23060,24404,24404,24404,24404,24404,24379,24404,24404,24404,24404,24404
MO,23217,23217,23217,23217,23217,23217,20446,21032,23217,23217,23217,23217,23217,23156,23217,23217,23217,23217,23217
MS,9247,9247,9247,9247,9247,9247,8077,8291,9247,9247,9247,9247,9247,9236,9247,9247,9247,9247,9247
MT,4028,4028,4028,4028,4028,4028,3491,3664,4028,4028,4028,4028,4028,4021,4028,4028,4028,4028,4028
NC,39998,39998,39998,39998,39998,39998,34803,36008,39998,39998,39998,39998,39998,39933,39998,39998,39998,39998,39998
ND,3159,3159,3159,3159,3159,3159,2922,3018,3159,3159,3159,3159,3159,3153,3159,3159,3159,3159,3159
NE,7013,7013,7013,7013,7013,7013,6390,6560,7013,7013,7013,7013,7013,7000,7013,7013,7013,7013,7013
NH,7395,7395,7395,7395,7395,7395,6647,6886,7395,7395,7395,7395,7395,7387,7395,7395,7395,7395,7395
NJ,52626,52626,52626,52626,52626,52626,47458,48958,52626,52626,52626,52626,52626,52565,52626,52626,52626,52626,52626
NM,7456,7456,7456,7456,7456,7456,6390,6617,7456,7456,7456,7456,7456,7434,7456,7456,7456,7456,7456
NV,21635,21635,21635,21635,21635,21635,18657,19257,21635,21635,21635,21635,21635,21579,21635,21635,21635,21635,21635
NY,116224,116224,116224,116224,116224,116224,103764,107191,116224,116224,116224,116224,116224,116126,116224,116224,116224,116224,116224
OH,47366,47366,47366,47366,47366,47366,41872,43008,47366,47366,47366,47366,47366,47275,47366,47366,47366,47366,47366
OK,13262,13262,13262,13262,13262,13262,11769,12112,13262,13262,13262,13262,13262,13224,13262,13262,13262,13262,13262
OR,17899,17899,17899,17899,17899,17899,15485,16176,17899,17899,17899,17899,17899,17846,17899,17899,17899,17899,17899
PA,47370,47370,47370,47370,47370,47370,42236,43461,47370,47370,47370,47370,47370,47275,47370,47370,47370,47370,47370
RI,6637,6637,6637,6637,6637,6637,5965,6143,6637,6637,6637,6637,6637,6632,6637,6637,6637,6637,6637
SC,18774,18774,18774,18774,18774,18774,16053,16604,18774,18774,18774,18774,18774,18743,18774,18774,18774,18774,18774
SD,2904,2904,2904,2904,2904,2904,2578,2701,2904,2904,2904,2904,2904,2903,2904,2904,2904,2904,2904
TN,24210,24210,24210,24210,24210,24210,21273,21950,24210,24210,24210,24210,24210,24142,24210,24210,24210,24210,24210
TX,122124,122124,122124,122124,122124,122124,110201,113935,122124,122124,122124,122124,122124,121796,122124,122124,122124,122124,122124
UT,9494,9494,9494,9494,9494,9494,8521,8827,9494,9494,9494,9494,9494,9446,9494,9494,9494,9494,9494
VA,38871,38871,38871,38871,38871,38871,35181,36121,38871,38871,38871,38871,38871,38793,38871,38871,38871,38871,38871
VT,3423,3423,3423,3423,3423,3423,3070,3181,3423,3423,3423,3423,3423,3419,3423,3423,3423,3423,3423
WA,30418,30418,30418,30418,30418,30418,27073,27962,30418,30418,30418,30418,30418,30290,30418,30418,30418,30418,30418
WI,19299,19299,19299,19299,19299,19299,17247,17738,19299,19299,19299,19299,19299,19244,19299,19299,19299,19299,19299
WV,6256,6256,6256,6256,6256,6256,5305,5477,6256,6256,6256,6256,6256,6245,6256,6256,6256,6256,6256
WY,2802,2802,2802,2802,2802,2802,2534,2603,2802,2802,2802,2802,2802,2790,2802,2802,2802,2802,2802

In [16]:
# Total sum of money funded to each state
total_money_loaned_st = bonnie_data.groupby(['addr_state']).sum()[['loan_amnt', 'funded_amnt']]
total_money_loaned_st = total_money_loaned_st.astype(int)
total_money_loaned_st

# total_money_loaned_df = pd.DataFrame(total_money_loaned_st)
# total_money_loaned_df

# # Rename column for future merge
# total_money_loaned_df = total_money_loaned_df.rename(columns = {'loan_amnt' : "sum_loaned"})
# total_money_loaned_df

             loan_amnt  funded_amnt
addr_state
AK            56732375     56732375
AL           254276600    254276600
AR           164267700    164267700
AZ           547049825    547049825
CA          3219450525   3219450525
CO           492435100    492435100
CT           384386850    384386850
DC            50771975     50771975
DE            66614875     66614875
FL          1675257525   1675257525
GA           776013675    776013675
HI           107049900    107049900
ID            74155375     74155375
IL           944336575    944336575
IN           378110575    378110575
KS           184818000    184818000
KY           211491525    211491525
LA           241239425    241239425
MA           543348625    543348625
MD           583888125    583888125
ME            72455450     72455450
MI           554810650    554810650
MN           376565400    376565400
MO           351264825    351264825
MS           139630050    139630050
MT            59383950     59383950
NC           623941400    623941400
ND            50972900     50972900
NE           103123550    103123550
NH           114743325    114743325
NJ           872096450    872096450
NM           115878425    115878425
NV           331094300    331094300
NY          1810580250   1810580250
OH           709560625    709560625
OK           209842000    209842000
OR           270910650    270910650
PA           727522175    727522175
RI            99000875     99000875
SC           294352375    294352375
SD            44233050     44233050
TN           368526025    368526025
TX          1997904700   1997904700
UT           152471300    152471300
VA           663206850    663206850
VT            48538750     48538750
WA           495394575    495394575
WI           295614575    295614575
WV            99052350     99052350
WY            46296150     46296150

In [8]:
# Average amount borrowed, avg annual income by state, avg credit score low to high
borrower_avg = bonnie_data.groupby(['addr_state']).mean()[['loan_amnt', 'annual_inc', 'fico_range_low', 'fico_range_high']]
borrower_avg = borrower_avg.rename(columns = {'loan_amnt' : 'avg_loan',
                                             'annual_inc' : 'avg_annual_inc',
                                             'fico_range_low': 'avg_fico_range_low',
                                             'fico_range_high': 'avg_fico_range_high'})
borrower_avg

,avg_loan,avg_annual_inc,avg_fico_range_low,avg_fico_range_high
addr_state,,,,
AK,18160.171255,83439.781229,703.685980,707.686620
AL,15362.288545,74896.054489,704.470155,708.470336
AR,14716.690557,69378.503897,705.543361,709.543630
AZ,15324.812309,78341.234261,703.479424,707.479704
CA,16317.704817,89297.914742,704.341428,708.341676
CO,15887.565736,80967.384800,705.547992,709.548411
CT,16055.588739,90211.489604,704.248361,708.248653
DC,16912.716522,102401.221153,705.876083,709.877415
DE,15868.240829,79442.174450,705.221534,709.222010
FL,15399.427551,77295.717027,702.703954,706.704183
GA,16147.104080,82552.894140,703.022431,707.022701
HI,16981.265863,82213.115669,703.114689,707.115165
ID,14905.603015,70048.538032,700.632161,704.632563
IL,16198.994356,83607.092933,704.750240,708.750549
IN,15270.408101,72956.930103,704.505472,708.505755
KS,15609.628378,75598.240978,708.125845,712.125929
KY,14950.623851,72680.201893,705.442528,709.442669
LA,15410.720902,78736.238140,706.174460,710.174780
MA,16192.294225,86051.159986,705.423471,709.424097
MD,16613.217009,92208.654877,702.645820,706.646219
ME,15072.904098,70177.707412,704.837737,708.838153
MI,14947.615648,75270.098135,703.987795,707.988011
MN,15430.478610,77918.848808,705.390715,709.390879
MO,15129.638842,73072.052996,706.061937,710.062454
MS,15100.037850,74519.904343,703.982373,707.982697
MT,14742.787984,68093.300906,707.852532,711.853029
NC,15599.314966,77069.487502,704.833992,708.834317
ND,16135.770814,77831.386641,705.569801,709.570434
NE,14704.627121,68463.430656,704.121631,708.121631
NH,15516.338742,82108.261548,705.839080,709.839621
NJ,16571.589138,94948.053872,704.297496,708.297800
NM,15541.634254,74503.236742,705.714861,709.715263
NV,15303.642246,77201.414859,702.865958,706.866235
NY,15578.368065,85414.557517,705.844361,709.844705
OH,14980.378858,72631.727416,704.410759,708.410991
OK,15822.801991,75941.259052,706.407028,710.407028
OR,15135.518744,72381.870263,704.080675,708.080843
PA,15358.289529,77483.994238,705.327739,709.328182
RI,14916.509718,80044.790218,702.849179,706.849631
SC,15678.724566,77071.679026,704.419676,708.419889
SD,15231.766529,70825.443223,705.941804,709.942149
TN,15222.058034,74213.598969,705.053903,709.054027
TX,16359.640202,85820.977544,704.992917,708.993097
UT,16059.753529,78465.990075,705.346535,709.346640
VA,17061.738828,92059.249971,705.130560,709.130920
VT,14180.178206,69956.029287,706.833187,710.833479
WA,16286.231015,82405.274058,703.111151,707.111283
WI,15317.611016,72280.126354,706.463029,710.463340
WV,15833.176151,75356.907871,706.030211,710.030531
WY,16522.537473,73670.525100,708.115632,712.115632

In [10]:
# Merge sum and avg dataframes // move to csv
sum_avg = total_money_loaned_df.merge(borrower_avg, on='addr_state', how='outer')
sum_avg

sum_avg.to_csv('new_sum_and_avg.csv', index=True)

In [11]:
# Group homeownership
home_rent = bonnie_data.groupby(['addr_state','home_ownership']).count()['ID']
home_rent

addr_state  home_ownership
AK          ANY                  5
            MORTGAGE          1610
            OWN                384
            RENT              1125
AL          ANY                 27
                              ...
WV          RENT              1175
WY          ANY                 10
            MORTGAGE          1774
            OWN                387
            RENT               631
Name: ID, Length: 205, dtype: int64

In [12]:
home_rent_df = pd.DataFrame(home_rent)
home_rent_df.head(25)

                               ID
addr_state home_ownership
AK         ANY                  5
           MORTGAGE          1610
           OWN                384
           RENT              1125
AL         ANY                 27
           MORTGAGE         10145
           OWN               2955
           RENT              3425
AR         ANY                 28
           MORTGAGE          6704
           OWN               1909
           RENT              2521
AZ         ANY                 80
           MORTGAGE         18365
           OWN               3774
           RENT             13478
CA         ANY                476
           MORTGAGE         67265
           NONE                 1
           OWN              15828
           RENT            113728
CO         ANY                 53
           MORTGAGE         15740
           NONE                 1
           OWN               2524

In [14]:
# Group by loan reason
purpose_count = bonnie_data.groupby(['addr_state', 'title']).count()['ID']
purpose_count
loan_purpose_df = pd.DataFrame(purpose_count)
loan_purpose_df.head(25)

                                      ID
addr_state title
AK         Business                   25
           Car financing              20
           Credit card refinancing   740
           Debt consolidation       1697
           Green loan                  3
           Home buying                23
           Home improvement          197
           Major purchase             89
           Medical expenses           59
           Moving and relocation      25
           Other                     217
           Vacation                   29
AL         Business                  152
           Car financing             188
           Credit card refinancing  3581
           Debt consolidation       9282
           Green loan                 12
           Home buying               174
           Home improvement         1250
           Major purchase            414
           Medical expenses          199
           Moving and relocation      63
           Other                    1098
           Vacation                  139
AR         Business                   91

In [ ]:
# home_rent.to_csv